{% extends 'based.html'%}

{% block body %}
<div id="field">
<h1>Авторизация</h1>

<form action = "" method = "POST" class = "login_style">
    <div class = "login_style">
        <label for="email">Введите email:  </label><br>
        <input type="email" name="email" id="email"  maxlength="50" required> 
    </div>
    
    <div class = "login_style">
        <label for = "password">Введите пароль: </label><br>
        <input type = "password" name = "password" id = "password" maxlength="50" required>
    </div>
    
    <div class = "login_style">
        <input type="submit" value="Login">
    </div>
</form>

<form action="/registration" method="GET" class="regb_stile"> 
    <div class="register_stile">
        <button name = "register">Регистрация</button>
    </div>
</form>

<form action="/" method="GET" class="main">
    <div class="main">
        <button name="main">На главную</button>
    </div>
</form>

</div>

{% endblock %}